
@{
    ViewBag.Title = "ContactToGroups";
}

<div>
    <div class="row align-items-center">
        <div class="col">
            <h1 class="text-center" style="padding-bottom:30px;">Kontakt</h1>
        </div>
    </div>
</div>
<div class="card-columns">
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            Nazwa koła
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Imię i Nazwisko prowadzącego</li>
            <li class="list-group-item">Telefon</li>
            <li class="list-group-item">Mail</li>
            <li class="list-group-item">Link</li>
        </ul>
    </div>


</div>