@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">To jest strona testowa, żeby sprawdzić, czy jesteśmy na tyle kompetentni, aby zrobić aplikację webową. c:</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nasza</h2>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu velit id ipsum semper vehicula. 
            Donec mauris metus, dignissim et justo vitae, mollis porttitor mauris. Quisque mi tortor, dignissim id scelerisque a, ultricies quis velit.
        </p>
        <p><a class="btn btn-default" href="#">Czytaj więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ekstra</h2>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu velit id ipsum semper vehicula.
            Donec mauris metus, dignissim et justo vitae, mollis porttitor mauris. Quisque mi tortor, dignissim id scelerisque a, ultricies quis velit.
        </p>
        <p><a class="btn btn-default" href="#">Czytaj więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apka</h2>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu velit id ipsum semper vehicula.
            Donec mauris metus, dignissim et justo vitae, mollis porttitor mauris. Quisque mi tortor, dignissim id scelerisque a, ultricies quis velit.
        </p>
        <p><a class="btn btn-default" href="#">Czytaj więcej &raquo;</a></p>
    </div>
</div>