
@{
    ViewBag.Title = "Statute";
}

<div class="row align-items-center">
    <div class="col col-12 col-sm-12">
        <h1 class="text-center">Regulamin</h1>
    </div>
</div>

<div class="line-15"></div>
<div class="row">



    <div class="row">
        <div class="col col-md-9">
            <div class="pre-scrollable" style="max-height: 480px; overflow-y:auto">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur egestas sapien at bibendum. Duis ut lacus nec sem suscipit vulputate. Etiam maximus tempus lorem sed bibendum. Vivamus faucibus leo metus, sed tempor erat pellentesque sit amet. Proin nec lectus non sapien sodales congue at id lacus. Vestibulum molestie tincidunt massa, quis pharetra sem finibus at. In facilisis, ante eu pellentesque volutpat, ipsum ex lobortis massa, ut rutrum magna sem in erat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur egestas sapien at bibendum. Duis ut lacus nec sem suscipit vulputate. Etiam maximus tempus lorem sed bibendum. Vivamus faucibus leo metus, sed tempor erat pellentesque sit amet. Proin nec lectus non sapien sodales congue at id lacus. Vestibulum molestie tincidunt massa, quis pharetra sem finibus at. In facilisis, ante eu pellentesque volutpat, ipsum ex lobortis massa, ut rutrum magna sem in erat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur egestas sapien at bibendum. Duis ut lacus nec sem suscipit vulputate. Etiam maximus tempus lorem sed bibendum. Vivamus faucibus leo metus, sed tempor erat pellentesque sit amet. Proin nec lectus non sapien sodales congue at id lacus. Vestibulum molestie tincidunt massa, quis pharetra sem finibus at. In facilisis, ante eu pellentesque volutpat, ipsum ex lobortis massa, ut rutrum magna sem in erat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur egestas sapien at bibendum. Duis ut lacus nec sem suscipit vulputate. Etiam maximus tempus lorem sed bibendum. Vivamus faucibus leo metus, sed tempor erat pellentesque sit amet. Proin nec lectus non sapien sodales congue at id lacus. Vestibulum molestie tincidunt massa, quis pharetra sem finibus at. In facilisis, ante eu pellentesque volutpat, ipsum ex lobortis massa, ut rutrum magna sem in erat.</p>
            </div>
        </div>

        <div class="col col-md-3">
            Zapisz się do naszego newslettera
            <hr />
            <form>
                <div class="form-group">
                    <label for="InputImie">Imię</label>
                    <input type="text" class="form-control" id="InputImie" placeholder="Imię" />
                </div>
                <div class="form-group">
                    <label for="InputNazwisko">Nazwisko</label>
                    <input type="text" class="form-control" id="InputNazwisko" placeholder="Imię" />
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-primary float-right">Zapisz się</button>
            </form>
            <div class="line-15"></div>
            <div class="line-15"></div>
            <div class="line-15"></div>
            TAGI
        </div>
    </div>

</div>