
@{
    ViewBag.Title = "UserSettings";
}


<div class="row align-items-center">
    <div class="col col-12 col-sm-12">
        <h1 class="text-center">Ustawienia użytkownika</h1>
    </div>
</div>
<div class="line-15"></div>


<table class="table">

    <tbody>
        <tr>
            <th scope="row">Imię:</th>
            <td>@((User as ProjektIO.Auth.Principal).GetUserData().Imie)</td>
          
        </tr>
        <tr>
            <th scope="row">Nazwisko:</th>
            <td>@((User as ProjektIO.Auth.Principal).GetUserData().Nazwisko)</td>
          
        </tr>
        <tr>
            <th scope="row">Login:</th>
            <td>@((User as ProjektIO.Auth.Principal).GetUserData().Login)</td>
          
        </tr>
        <tr>
            <th scope="row">Hasło:</th>
            <td>******</td>
           
        </tr>
        <tr>
            <th scope="row">E-mail:</th>
            <td>@((User as ProjektIO.Auth.Principal).GetUserData().Email)</td>
          
        </tr>


    </tbody>
</table>




