
@{
    ViewBag.Title = "UserSettings";
}

@{
    ViewBag.Title = "UserSettings";
}

<div class="row align-items-center">
    <div class="col col-12 col-sm-12">
        <h1 class="text-center">Ustawienia użytkownika</h1>
    </div>
</div>
<div class="line-15"></div>


<table class="table">

    <tbody>
        <tr>
            <th scope="row">Imię:</th>
            <td>Mark</td>
            <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#changeNameModal">Edytuj</a></td>
        </tr>
        <tr>
            <th scope="row">Nazwisko:</th>
            <td>Jacob</td>
            <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#changeSurnameModal">Edytuj</a></td>
        </tr>
        <tr>
            <th scope="row">Login:</th>
            <td>Jacob</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Hasło:</th>
            <td>Larry</td>
            <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">Edytuj</a></td>
        </tr>
        <tr>
            <th scope="row">E-mail:</th>
            <td>Larry</td>
            <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#changeMailModal">Edytuj</a></td>
        </tr>
        <tr>
            <th scope="row">Data urodzenia:</th>
            <td>Larry</td>
            <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#changeBirthDateModal">Edytuj</a></td>
        </tr>

    </tbody>
</table>




