@model ProjektIO.Models.ViewModels
@{ ViewBag.Title = "Dodaj"; }

@Html.ValidationSummary(false)
<h1>Dodaj nowy post!</h1>

@using (Html.BeginForm())
{
    <!--hidden for jest bardzo ważne, bez tego wszystko sie sypie-->
    @Html.HiddenFor(model => model.AddPost.Member.Id)
    @Html.HiddenFor(model => model.AddPost.Member.IdKola)
    <div class="form-group">
        @Html.TextBoxFor(model => model.AddPost.PostContent, new { @class = "form-control" })
    </div>
}
