
@{
    ViewBag.Title = "GroupList";
}

<h1>Lista kół z kategorii {nazwaKategorii}</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa koła</th>
            <th scope="col">Przewodniczący koła</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Koło nr 1</td>
            <td>Adam Kowalski</td>
            <td><a href="@Url.Action("Group", "Home")">KLIK</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Koło nr 2</td>
            <td>Adam Kowalski</td>
            <td><a href="@Url.Action("Group", "Home")">KLIK</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Koło nr 3</td>
            <td>Adam Kowalski</td>
            <td><a href="@Url.Action("Group", "Home")">KLIK</a></td>
        </tr>
    </tbody>
</table>