<!--Jest to widok tymczasowy, zalezy od frontu jak chca dostac te dane-->

@using ProjektIO.Models
@model bool
@{
    ViewBag.Title = "JoinGroup";
}

@if (Model.Equals(true))
{
    <p>udalo sie</p>
}


@if (Model.Equals(false))
{
    <p>lipa</p>
}